{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Multify | Client Panel</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block EXTRA_HEAD %}
    {% endblock EXTRA_HEAD %}
</head>
<body>
<div id="header" style="background-color: #1a1a1a; padding: 20px;">
    <img src="{% static 'img/multify_logo_original_white.png' %}" style="width: auto; height: 75px; margin: 10px;"/>
    <span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #ffffff;"></span><span
        style="color: #ffffff; margin-left: 5px;">Hoşgeldin, {{ user.get_full_name|default:user.username }}</span>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="">
    <div class="btn-group" role="group">
        <a href="{% url 'multify_app.views.client_home' %}" type="button" class="btn btn-default"><span
                class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span> Profil
        </a>
    </div>
    <div class="btn-group" role="group">
        <a href="{% url 'multify_app.views.multify_correct' %}" type="button" class="btn btn-default"><span
                class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span> Multify'ımı
            Doğrula
        </a>
    </div>
    <div class="btn-group" role="group">
        <a href="{% url 'multify_app.views.foursquare_token_generate' %}" type="button" class="btn btn-default" id="logout"><span
                class="glyphicon glyphicon-off"
                aria-hidden="true"></span> Foursquare Token ReGenerate
        </a>
    </div>
    <div class="btn-group" role="group">
        <a href="{% url 'django.contrib.auth.views.logout' %}" type="button" class="btn btn-default" id="logout"><span
                class="glyphicon glyphicon-off"
                aria-hidden="true"></span> Çıkış
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        {% block MAIN_BLOCK %}
        {% endblock MAIN_BLOCK %}
    </div>
</div>

<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
{% block AFTER_JS %}
{% endblock AFTER_JS %}

</body>
</html>
